<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

    <head th:fragment="head()">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Matthias Fischer" />
        <meta name="author" content="" />
        <title>Matthias Fischer</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" crossorigin="anonymous"/>
        <link href="/startbootstrap-resume/styles.css" rel="stylesheet" />
        <link href="/darkmode_v1.css" rel="stylesheet" />
        <link rel="stylesheet" href="/simplelightbox/simple-lightbox.min.css" crossorigin="anonymous"/>
        <style>
	        .mb-0, h1, .h1{
		    	font-stretch: ultra-condensed !important;    
		    }
		    @media screen and (max-width: 600px) {
			    h1, .h1{
			    	font-size:16vw !important;
			    }
			    h2, .h2{
			    	font-size:12vw !important;
			    }			    
		    }
	    </style>
    </head>
    
    <th:block th:fragment="foot()">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery-easing/jquery.easing.min.js"></script>
        <script src="/startbootstrap-resume/scripts.js"></script>
        <script src="/simplelightbox/simple-lightbox.min.js"></script>
        <script>
	        function m(){
		        return 'm'+String.fromCharCode(parseInt('61', 16))+'il'+String.fromCharCode(parseInt('40', 16))+'fim'+String.fromCharCode(parseInt('61', 16))+'t'+String.fromCharCode(parseInt('61', 16))+'s'+String.fromCharCode(parseInt('2E', 16))+'de';
		    }	        
            document.getElementById('ml').href='m'+String.fromCharCode(parseInt('61', 16))+'ilto'+String.fromCharCode(parseInt('3A', 16))+m();
        </script>
    </th:block>

</html>